<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="mount_v0" params="name parent *origin">
		<xacro:mount_point name="${name}_mount" parent="${parent}">
			<insert_block name="origin" />
		</xacro:mount_point>

		<link name="${name}_mesh_link">
			<visual>
				<geometry name="mount_mesh">
					<mesh filename="package://herkulex_description/meshes/mount.stl" scale="0.001 0.001 0.001" />
				</geometry>
				<material name="plastic_green" />
			</visual>
			<inertial>
				<mass value="0.005" />
				<inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
			</inertial>
		</link>

		<joint name="${name}_mesh_joint" type="fixed">
			<parent link="${name}_mount_link" />
			<child link="${name}_mesh_link" />
			<origin rpy="${PI} 0 0" xyz="0 0 -0.0205" />
		</joint>

		<xacro:mount_point name="${name}" parent="${name}_mesh">
			<origin xyz="0 -0.027 0" rpy="${PI / 2} 0 0" />
		</xacro:mount_point>

		<gazebo reference="${name}_mesh_link">
			<material>Gazebo/Green</material>
		</gazebo>
	</xacro:macro>
</robot>
