<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="arm_v0" params="name parent *origin">
		<xacro:mount name="${name}_mount" parent="${parent}">
			<insert_block name="origin" />
		</xacro:mount>

		<xacro:drs_x01 name="${name}_0" mountTop="false" mountBottom="false" mountBack="true" mountAxel="false" parent="${name}_mount"
			minPosition="0" maxPosition="PI" maxVelocity="1">
			<origin xyz="0 0 0" />
		</xacro:drs_x01>
		<xacro:drs_x01 name="${name}_1" parent="${name}_0_axel" mountTop="false" mountBottom="true" mountBack="false" mountAxel="false"
			minPosition="0" maxPosition="PI" maxVelocity="1">
			<origin xyz="0 0 0" />
		</xacro:drs_x01>
		<xacro:drs_x01 name="${name}_2" parent="${name}_1_axel" mountTop="false" mountBottom="true" mountBack="false" mountAxel="false"
			minPosition="0" maxPosition="PI" maxVelocity="1">
			<origin xyz="0 0 0" />
		</xacro:drs_x01>
		<xacro:drs_x01 name="${name}_3" parent="${name}_2_axel" mountTop="false" mountBottom="true" mountBack="false" mountAxel="false"
			minPosition="0" maxPosition="PI" maxVelocity="1">
			<origin xyz="0 0 0" />
		</xacro:drs_x01>
		<xacro:mount name="${name}_hand" parent="${name}_3_box">
			<origin rpy="0 0 0" xyz="0 0 0.10" />
		</xacro:mount>
	</xacro:macro>

	<xacro:macro name="hand_v0" params="name parent *origin"></xacro:macro>
</robot>