<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="leg_v0" params="name parent *origin">
		<joint name="${name}_joint" type="fixed">
			<insert_block name="origin" />
			<parent link="${parent}_link" />
			<child link="${name}_link" />
		</joint>
		<link name="${name}_link">
			<inertial>
				<mass value="0.1" />
				<inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
			</inertial>
			<visual>
				<origin xyz="0 0 0.075" rpy="0 0 0" />
				<geometry>
					<cylinder length="0.15" radius="0.03" />
				</geometry>
				<material name="white" />
			</visual>
			<collision>
				<origin xyz="0 0 0.075" rpy="0 0 0" />
				<geometry>
					<cylinder length="0.15" radius="0.03" />
				</geometry>
			</collision>
		</link>
		<gazebo reference="${name}_link">
			<material>Gazebo/White</material>
		</gazebo>
	</xacro:macro>	

	<xacro:macro name="base_v0" params="name parent *origin">
		<joint name="${name}_joint" type="fixed">
			<insert_block name="origin" />
			<parent link="${parent}_link" />
			<child link="${name}_link" />
		</joint>		
		<link name="${name}_link">
			<inertial>
				<mass value="5" />
				<origin xyz="0 0 0.05" rpy="0 0 0" />
				<inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
			</inertial>
			<visual>
				<origin xyz="0 0 0.05" rpy="0 0 0" />
				<geometry>
					<cylinder length="0.10" radius="0.075" />
				</geometry>
				<material name="white" />
			</visual>
			<collision>
				<origin xyz="0 0 0.05" rpy="0 0 0" />
				<geometry>
					<cylinder length="0.10" radius="0.075" />
				</geometry>
			</collision>
		</link>
		<xacro:mount name="${name}_top" parent="${name}">
			<origin rpy="0 0 0" xyz="0 0 0.10" />
		</xacro:mount>
		<xacro:mount name="${name}_leg_l" parent="${name}">
			<origin rpy="0 ${PI / 2} ${PI / 4}" xyz="0.053033009 0.053033009 0.03" />
		</xacro:mount>
		<xacro:mount name="${name}_leg_r" parent="${name}">
			<origin rpy="0 ${PI / 2} -${PI / 4}" xyz="0.053033009 -0.053033009 0.03" />
		</xacro:mount>
		
		<gazebo reference="${name}_link">
			<material>Gazebo/White</material>
		</gazebo>
	</xacro:macro>
</robot>