<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="head_v0" params="name parent *origin">
		<xacro:mount_point name="${name}_mount" parent="${parent}">
			<insert_block name="origin" />
		</xacro:mount_point>

		<joint name="${name}_joint" type="fixed">
			<origin rpy="0 0 0" xyz="0 0 0.09" />
			<parent link="${name}_mount_link" />
			<child link="${name}_link" />
		</joint>
		<link name="${name}_link">
			<visual>
				<geometry>
					<sphere radius="0.08" />
				</geometry>
				<material name="skin" />
			</visual>
			<collision>
				<geometry>
					<sphere radius="0.08" />
				</geometry>
			</collision>
		</link>

		<xacro:mount_point name="${name}_top" parent="${name}">
			<origin xyz="0 0 0.08" rpy="0 0 0" />
		</xacro:mount_point>

		<gazebo reference="${name}_link">
			<material>Gazebo/Yellow</material>
		</gazebo>
	</xacro:macro>

	<xacro:macro name="neck_v0" params="name parent *origin">
		<xacro:mount_point name="${name}_mount" parent="${parent}">
			<insert_block name="origin" />
		</xacro:mount_point>

		<xacro:drs_x01 name="${name}_yaw" parent="${name}_mount" mountBottom="false" mountBack="true" mountLeft="false" mountRight="false"
			mountAxel="false" minPosition="${PI}" maxPosition="${PI}" maxVelocity="1">
			<origin xyz="0 0 0" />
		</xacro:drs_x01>
		<xacro:drs_x01 name="${name}_pitch" parent="${name}_yaw_axel" mountBottom="true" mountBack="false" mountLeft="false" mountRight="false"
			mountAxel="false" minPosition="${PI}" maxPosition="${PI}" maxVelocity="1">
			<origin xyz="0 0 0" rpy="0 0 -${PI / 2}" />
		</xacro:drs_x01>
		<xacro:drs_x01 name="${name}_roll" parent="${name}_pitch_axel" mountBottom="true" mountBack="false" mountLeft="false" mountRight="false"
			mountAxel="false" minPosition="${PI}" maxPosition="${PI}" maxVelocity="1">
			<origin xyz="0 0 0" rpy="0 0 -${PI / 2}" />
		</xacro:drs_x01>
		<xacro:mount_v0 name="${name}_top" parent="${name}_roll_axel" invert="false">
			<origin rpy="0 0 0" xyz="0 0 0" />
		</xacro:mount_v0>

	</xacro:macro>

</robot>