<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="mount" params="name parent *origin">	
		<joint name="${name}_joint" type="fixed">
			<insert_block name="origin" />
			<parent link="${parent}_link" />
			<child link="${name}_link" />
		</joint>
		<link name="${name}_link">
			<inertial>
				<origin xyz="0 0 0.0005" rpy="0 0 0" />
				<mass value="0.0001" />
				<inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
			</inertial>
			<visual>
				<origin xyz="0 0 0.0005" rpy="0 0 0" />
				<geometry>
					<box size="0.02 0.02 0.001" />
				</geometry>
				<material name="mount" />
			</visual>
		</link>
		<gazebo reference="${name}_link">
			<material>Gazebo/Black</material>
		</gazebo>
	</xacro:macro>
</robot>